.card{
    background-color: lightgray;
    border-radius: 10px;
    min-width: 20%;
    box-shadow: 1px 1px gray;
    margin: 10px;
    padding: 20px;
    text-align: left;
}
.smalltext{
    font-size: 0.75em;
}
.new_car{
    color: green;
}
.not_new_car{
    color: darkslategray;
}